@charset "ISO-8859-1";
.ki_span
{
	/*background: #23527c;*/
	background:cadetblue;
	background-repeat: no-repeat;
	padding: 3px;
	color: white;
	font-family: Serif;
	font-size: 18px;
	letter-spacing: 5px;
	opacity:1;
	
		
	
	
}


.ki_navbar

{
	
	background-color:lightgray; 
	opacity: .75;
	
	
	
	
}

.ki_navbardiv
{
	
	padding-top:10px;
	
}


.ki_navbarul
{
	
	font-size: 20px; 
	list-style-type: none; 
	padding-bottom: 5px;
	
	

}



.krk_span_padleft

{
	padding-left: 25px;
	
}

.krk_iframe

{
	margin-left:25px; 
	margin-top:25px; 
	padding-bottom: 50px
	
	
}

#myName
{
	
	color: cadetblue; 
	opacity: 1; 
	font-size: 85px; 
	font-family: Georgia; 
	letter-spacing: 15px;
	
	
}

#mainJumbo

{
	margin-top: 10px; 
	background-image: url(images/office_photo.jpg); 
	background-repeat: no-repeat; 
	background-size: cover; 
	height: 600px; 
	font-variant: small-caps;
	
	
}


#ki_spans
{
	
	padding-top: 25px;
	position: relative;
	
}




#elevator_pitch_jumbotron
{
	
	background-color: #23527c; 
	margin-bottom: 200px; 
	margin-top: 200px;
	
	
}

#elevator_pitch_paragraph

{
	
	color: #cdbfe3; 
	padding-top: 25px; 
	line-height: 40px;
	
}

#portfolioContainer
{	
	padding-bottom: 100px; 
	margin-top:10px;
	
}
